body{
  height:100vh;
}

.container{
  width:100%;
  max-width:100%;
  font-size:16px;
}

#perp, #iter, #lr{
  width:50px;
  text-align: center;
  font-size: 13px;
}

#nNeighbors, #minDist{
  width: 40px;
  text-align: center;
  font-size: 13px;
}

#tsneAdd, #umapAdd, #runBtn, #resetBtn{
  width:50px;
  height:30px;
  font-size:15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.fsView-section{
  height:350px;
  overflow:auto;
}

i{
  cursor: pointer;
}

.nopadding{
  padding:0 !important;
  margin:0 !important;
}

.brushed {
  stroke-width: 1;
  stroke: gray;
}