body {
  --bs-body-font-size: 1.5rem;
}

.container {
  max-width: 2400px;
  background: white;
}

.scatterplot-section{
  width: 100%;
  margin: 0px 10px 0px 15px;
  padding:3px 20px;
  border-radius: 0.5em;
}

.histogram-section{
  margin: 0px 15px 10px 0px;
  border-radius: 0.5em;
}

.heatmap-section{
  margin: 10px 15px 10px 0px;
  border-radius: 0.5em;
}

.input-text{
  font-size:20px;
  font-weight: bold;
}

.data, .hyperparameter, .umap{
  display: flex;
  align-items: center;
  margin:2px 0px 2px 5px;
}

#dataTitle{
  margin: 0px 20px;
  width:300px;
  height:35px;
  vertical-align: middle;
  font-size: 15px;
}

#pcaIter, #randIter, #perplexity, #iteration, #learningRate, #minSupport {
  margin: 0px 20px 0px 10px;
  width: 60px;
  height:35px;
  font-size:15px;
}

#runBtn{
  width: 60px;
  height: 35px;
  font-size:15px;
  font-weight: bold;
}

#resetBtn{
  margin: 0px 10px;
  width:80px;
  height: 35px;
  font-size:15px;
  font-weight: bold;
}

.scatterplot{
  width:260px;
  height:260px;
  margin:5px;
}


.brushed {
  stroke-width: 1;
  r: 5;
  stroke: gray;
}


.classMode {
  fill: rgb(255, 127, 14);
  r: 3;
}

.FSMode {
  fill: rgb(44, 160, 44);
  r: 3;
}