body {
    height: 100vh;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 100%;
}

#dataTitle, #method{
    width:200px;
}

#runBtn {
    width: 100%;
    height: 35px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dual, .fsOnly, .classOnly {
    width:200px;
}

#modeBtns{
    width:100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hpram-section{
    height:250px;
}

.heatmap-cell {
    cursor: pointer;
}

i{
    cursor:pointer;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.brushed {
    stroke-width: 1;
    stroke: gray;
}
