<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <title>Ensemble DR</title>
  </head>

  <body>
    <header>
      <nav class="container-fluid navbar navbar-light bg-light">
          <span class="navbar-brand fs-4 fw-bold">Ensemble DR</span>
      </nav>
    </header>

    <main class="container">
      <div class="row">
        <div class="col-9">
          <div class="row input-section" style="margin-top:10px">
            <div class="col-md-auto data">
              <div class="fs-5 fw-bold input-text">
                Data
              </div>
              <div>
                <select
                  id="dataTitle"
                  class="form-select"
                  aria-label="Default select example"
                >
                  <option selected value="breast_cancer">
                    Breast Cancer(569)
                  </option>
                  <option value="milknew">Milk Quality(1059)</option>
                  <option value="Cigar">Cigar(1380)</option>
                  <option value="BudgetUK">Butget UK(1519)</option>
                  <option value="BudgetItaly">Butget Italy(1729)</option>
                  <option value="mobile_price">Mobile Price(2000)</option>
                  <option value="black_politicians">
                    Black Politicians(5593)
                  </option>
                  <option value="injury">Injury(6822)</option>
                  <option value="fashion-mnist">Fashion-MNIST(5000)</option>
                  <option value="Dry_Bean_Dataset">Dry Bean()</option>
                  <option value="diabetes">Diabetes(15000)</option>
                  <option value="mm_nhis">NHIS(18790)</option>
                  <option value="labsup">Labsup(31857)</option>
                </select>
              </div>
            </div>
            <div class="col-sm-auto hyperparameter">
              <div class="fs-5 fw-bold input-text">
                PCA
              </div>
              <div>
                <input class="form-control" type="text" id="pcaIter" value="1" />
              </div>
            </div>
            <div class="col-sm-auto hyperparameter">
              <div class="fs-5 fw-bold input-text">
                Random
              </div>
              <div>
                <input class="form-control" type="text" id="randIter" value="9" />
              </div>
            </div>
          </div>
          <div class="row hyperparmeters" style="margin-top:10px">
            <div class="col-sm-auto hyperparameter">
              <div class="fs-5 fw-bold input-text">
                Perplexity
              </div>
              <div>
                <input
                  class="form-control"
                  type="text"
                  id="perplexity"
                  value="30"
                />
              </div>
            </div>
            <div class="col-sm-auto hyperparameter">
              <div class="fs-5 fw-bold input-text">
                Iteration
              </div>
              <div>
                <input
                  class="form-control"
                  type="text"
                  id="iteration"
                  value="300"
                />
              </div>
            </div>
            <div class="col-sm-auto hyperparameter">
              <div class="fs-5 fw-bold input-text">
                Learning Rate
              </div>
              <div>
                <input
                  class="form-control"
                  type="text"
                  id="learningRate"
                  value="auto"
                />
              </div>
            </div>
            <div class="col-sm-auto buttons text-center">
              <button class="btn btn-outline-primary" id="runBtn">
                Run
              </button>
              <button class="btn btn-outline-danger" id="resetBtn">
                Reset
              </button>
            </div>
          </div>
          <div class="row" style="margin-top:20px">
            <div class="text-center">
              <svg class="scatterplot" id="scatterplot0"></svg>
              <svg class="scatterplot" id="scatterplot1"></svg>
              <svg class="scatterplot" id="scatterplot2"></svg>
              <svg class="scatterplot" id="scatterplot3"></svg>
              <svg class="scatterplot" id="scatterplot4"></svg>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="text-center">
              <svg class="scatterplot" id="scatterplot5"></svg>
              <svg class="scatterplot" id="scatterplot6"></svg>
              <svg class="scatterplot" id="scatterplot7"></svg>
              <svg class="scatterplot" id="scatterplot8"></svg>
              <svg class="scatterplot" id="scatterplot9"></svg>

            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <div class="fs-5 fw-bold">FS View</div>
            <div class="text-center">
              <svg id="histogram" width="450px" height="500px"></svg>
            </div>
          </div>
          <div class="row text-center">
            <div class="fs-5 fw-bold">Heatmap</div>
            <svg class="heatmap"></svg>
          </div>
        </div>

      </div>

    </main>
    <script
      type="module"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/Update.mjs') }}"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
